.contactContainer {
   background: rgb(28,181,224);
   background: linear-gradient(-143deg, rgba(28,181,224,1) 0%, rgba(16,33,125,1) 100%);
   width: 100%;
   min-height: calc(100vh - 163px);
   height: auto;
   margin: 0 auto;
   padding: 2.5rem;
   display: grid;
   grid-template-rows: 1fr;
   align-items: center;
   justify-items: center;
   

   h3 {
      margin: 0;
      margin-bottom: 1rem;
      padding: 0;
   }
}