@import '../../includeMediaQuery.scss';
$breakpoints: ("phone": 480px, "tablet": 768px, "desktop": 1024px, "LGdesktop": 1920px);

.contactContainer {
   width: 80%;
   min-height: calc(100vh - 163px);
   height: auto;
   margin: 0 auto;
   padding: 5rem 0;
   display: grid;
   grid-template-columns: repeat(2, auto);
   grid-gap: 5rem;
   align-items: flex-start;
   justify-items: center;
   @include media('<=tablet') { 
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      width: 90%;
      padding: 2.5rem 0;    
      grid-gap: 2.5rem;  
   }
   @include media('>tablet', '<=desktop') {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      width: 80%;
      padding: 2.5rem 0;    
      grid-gap: 2.5rem;  
   }
   
   .contactBox {
      background-color:  rgba(235, 237, 255, 0.75);
      width: auto;
      padding: 2.5rem;
      border-radius: 2rem;
      box-shadow: 0 0 10px 0px var(--pb);
      @include media ('<=phone') {
         width: 100%;
         padding: 2rem;  
      }
      @include media('>phone', '<=tablet') { 
         width: 90%;
         padding: 2rem;  
      }
   }
   
   h4 {
      text-align: left;
      margin: 0;
      margin-bottom: 1rem;
      padding: 0;
   }
   
   .contactGrid {
      display:  grid;
      grid-template-columns: auto 1fr;
      grid-gap: 3rem;
      justify-items: flex-start;
      align-items: center;
      margin-bottom: 3rem;
      @include media ('<=phone') {
         grid-gap: 2rem;
      
      }
      
      p, a {
         font-size: 1.25rem;
         text-align: left;
      }
      
      p {
         color: var(--bl);
         
      }
      
      .button1 {
         padding: 0;
         border-left: none;
      }
   }
   

   .faIconCircle {
      padding: 1rem;
      border: var(--sb) solid 2px;
      border-radius: 50%;
      &:hover {
         transition-timing-function: ease-in-out;
         transition: 0.5s;
         background-color: var(--sb);
      }
      @include media ('<=phone') {
         padding: 0.75rem;
      
      }
      
      .faIcon {
         color: var(--pb);
         height: 2rem;
         width: 2rem;
         &:hover {
            transition-timing-function: ease-in-out;
            transition: 0.5s;
            color: var(--wt);
         }
      }
   }
}
