.jumbotronPic {
  background: url(../img/online-marketing-hIgeoQjS_iE-unsplash.jpg);
  background-size: cover;
  background-position: top center;
}

@media (max-width: 480px) {
  .jumbotronPic {
    background: url(../img/pexels-tima-miroshnichenko-5452293.jpg);
    background-size: cover;
    background-position: bottom center;
    background-position-y: 28rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .jumbotronPic {
    background-position-y: 28rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .jumbotronPic {
    background-position-y: 14rem;
  }
}

.jumbotronPic .introContainer {
  min-height: 100%;
  height: calc(100vh - 163px);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr 1fr;
      grid-template-rows: 2fr 1fr 1fr;
}

@media (max-width: 1024px) {
  .jumbotronPic .introContainer {
    height: auto;
    padding: 2rem 0;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.jumbotronPic .introContainer .introBox {
  background-color: rgba(235, 237, 255, 0.5);
  width: 50%;
  margin: 0 auto;
  padding: 2.5rem 2.5rem 3rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  border-radius: 2rem;
}

@media (max-width: 768px) {
  .jumbotronPic .introContainer .introBox {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .jumbotronPic .introContainer .introBox {
    width: 80%;
  }
}

.jumbotronPic .introContainer .introBox h1 {
  background-color: var(--pb);
  color: var(--wt);
  font-size: 5rem;
  margin: 0;
  padding: 2rem;
  border-radius: 2rem;
}

@media (max-width: 768px) {
  .jumbotronPic .introContainer .introBox h1 {
    font-size: 3rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .jumbotronPic .introContainer .introBox h1 {
    font-size: 4rem;
  }
}

.jumbotronPic .introContainer .introBox h3 {
  padding: 0;
  padding-top: 2rem;
  margin: 0;
}

@media (max-width: 768px) {
  .jumbotronPic .introContainer .introBox h3 {
    font-size: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .jumbotronPic .introContainer .introBox h3 {
    font-size: 2.25rem;
  }
}

.about {
  background: #1cb5e0;
  background: linear-gradient(-143deg, #1cb5e0 0%, #10217d 100%);
  border-top: var(--sb) solid 1rem;
  border-bottom: var(--lpb) solid 1rem;
  margin: 0 auto;
  padding: 10rem 0;
}

@media (max-width: 768px) {
  .about {
    padding: 2rem 0;
  }
}

.about .aboutBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  max-width: 100vw;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 769px) and (max-width: 1300px) {
  .about .aboutBox {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .about .aboutBox {
    width: 90%;
    margin: 0 auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 30rem 1fr;
        grid-template-rows: 30rem 1fr;
  }
}

.about .aboutBox .aboutImageBox {
  background: url(../img/iStock-1039473936-Tiny.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

@media (max-width: 768px) {
  .about .aboutBox .aboutImageBox {
    background-position: top center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.about .aboutBox .aboutTextBox {
  background-color: rgba(235, 237, 255, 0.8);
  padding: 5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

@media (max-width: 768px) {
  .about .aboutBox .aboutTextBox {
    font-size: 3rem;
    padding: 2.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .about .aboutBox .aboutTextBox h1 {
    font-size: 3rem;
    padding: 0;
  }
  .about .aboutBox .aboutTextBox p {
    font-size: 1.25rem;
    padding: 2rem;
    margin: 0;
  }
}

.about .aboutBox .aboutTextBox p {
  padding: 0;
  margin: 0;
}

.about .aboutBox .aboutLine {
  width: 75%;
  margin: 2rem auto;
  border-bottom: var(--sb) solid 1px;
}

@media (min-width: 1025px) {
  .navNonJumbotron {
    display: none;
  }
}

.nonJumbotronPic {
  background: url(../img/online-marketing-hIgeoQjS_iE-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 1025px) {
  .nonJumbotronPic {
    display: none;
  }
}

.introContactContainer {
  background: var(--lpb);
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media (max-width: 480px) {
  .introContactContainer {
    width: 100%;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .introContactContainer {
    padding: 5rem 0;
  }
}

.introContactContainer .introContactBox {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .introContactContainer .introContactBox {
    width: 90%;
  }
}
/*# sourceMappingURL=Intro.css.map */