// Form component that goes to the Contact Us page and the Intro page
@import "../includeMediaQuery.scss";
$breakpoints: ("phone": 480px, "tablet": 768px, "desktop": 1024px, "LGdesktop": 1920px);

.contactFormBox {
   background-color:  rgba(235, 237, 255, 0.75);
   height: auto;
   width: 100%;
   margin: 0 auto;
   padding: 2.5rem;
   border-radius: 2rem;
   box-shadow: 0 0 10px 0px var(--pb);
   @include media ('<=phone') {
      width: 100%;
   }
   @include media('>phone', '<=tablet') {
      width: 90%;
               
   }
      
      .successMessage {
         font-size: 1.25rem;
         font-weight: 400;
         letter-spacing: 1px;
         background-color: green;
         color: var(--wt);
         margin: 1rem 2.5rem;
         padding: 1rem;
         border-radius: 0.5rem;
      }
      
      .contactForm {
         
         .formFieldBox {
            display: grid;
            justify-items: center;
            
            .errorMessage {
               font-size: 1.25rem;
               font-weight: 400;
               letter-spacing: 1px;
               display: block;
               color: var(--rd);
               width: 60%;
               margin: 0 2.5rem;
               padding: 1rem;
               border-radius: 0.5rem;
            }
         
            .formField {
               font-size: 1.5rem;
               width: 90%;
               margin: 1rem 0;
               padding: 1rem;
               border: none;
               border-radius: 0.5rem;
               box-shadow: 0 0 2px 2px var(--sb);
               @include media('<=tablet') {
                  font-size: 1.25rem;
               }
            }
         
            .formMessage {
               height: 10rem;
            }

         }

         .button3 {
            @include media ('<=phone') {
               width: 80%;
            }
            
         }
   }
}