footer {
   margin-top: 2.5rem;
   padding: 2.5rem;
   
   .footerLogo {
      width: 10rem;
   }

   .socialMedia {
      display: grid;
      grid-template-columns: repeat(3, 10rem);
      grid-gap: 2rem;
      justify-content: center;
      margin: 2rem;

      
      .faBrands {
         color: var(--sb);
         width: 100%;
         margin: 0 auto;
         padding: 0 2rem;
         height: 2.5rem;
      }
   }

   p {
      font-size: 1.2rem;
      font-weight: 400;
      margin: 0;
   }

   .faIcon {
      width: 1rem;
      margin-right: 0.5rem;
   }
}