footer {
   margin-top: 5rem;

   outline: red solid 2px;
   
   .footerLogo {
      width: 10rem;
      margin: 2.5rem;
   }

   p {
      font-size: 1.2rem;
      font-weight: 400;
   }

   .faIcon {
      width: 1rem;
      margin-right: 0.5rem;
   }
}