@import "../includeMediaQuery.scss";
$breakpoints: ("phone": 480px, "tablet": 768px, "desktop": 1024px, "LGdesktop": 1920px);

footer {
   height: auto;
   padding: 3rem 1rem;
   border-top: var(--pb) solid 1rem;

   .footerLogo {
      width: 10rem;
   }

   .socialMedia {
      display: grid;
      grid-template-columns: repeat(3, 10rem);
      grid-gap: 2rem;
      justify-content: center;
      margin: 2rem;
      @include media ('<=phone') {
         grid-template-columns: repeat(3, 8rem);
      }
      
      
      .faBrands {
         color: var(--sb);
         width: 100%;
         margin: 0 auto;
         padding: 0 2rem;
         height: 2.5rem;

         &:hover {
            transition-timing-function: ease-in-out;
            transition: 0.5s;
            color: var(--pb);
         }
      }
   }  
   
   p {
      font-size: 1.2rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
   }
   
   .faIcon {
      width: 1rem;
      margin-right: 0.5rem;
   }

   .grafk {
      color: var(--sb);
      &:hover {
         transition-timing-function: ease-in-out;
         transition: 0.5s;
         color: var(--pb);
      }
   }
   
}