nav {
   background-color: var(--wt);
   border-color: var(--wt);
   display: grid;
   width: 80vw;
   margin: 0 auto;
   padding: 0 2.5rem;
   position: relative;
   top: -11px;
   grid-template-rows: 5rem 10rem;
   grid-template-columns: 25rem 2fr;
   border-bottom-right-radius: 2rem;
   border-bottom-left-radius: 2rem;
   
   
   .logoTop {
      width: 22rem;
      grid-row-start: 1;
      grid-row-end: 3;
      justify-self: flex-start;
      align-self: center;
   }
   
   .navTop {
      display: grid;
      grid-template-columns: auto repeat(5, auto);
      align-items: center;
      justify-content: right;
      
      .faIcon {
         width: 1.1rem;
         margin-right: 5px;
      }
      
      .button1 {
         text-align: center;
         color: var(--pb);
         padding: 1rem 2rem;
         border-left: var(--sb) solid 2px;
      }
      
   }
   
   .navBottom {
      display: grid;
      grid-template-columns: repeat(5, auto);
      align-items: center;
      justify-content: flex-end;
      border-top: var(--sb) solid 2px;
      
      
      
      
      span {
         margin: 2rem;
      }
      
      .button2 {
         background-color: var(--sb);
         color: var(--wt);
         margin: 1rem;
         padding: 1rem 2rem;
         border-radius: 10px;

      }

   }
}