nav {
  background-color: var(--wt);
  border-color: var(--wt);
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding: 0 2.5rem;
  position: relative;
  -ms-grid-rows: 5rem 10rem;
      grid-template-rows: 5rem 10rem;
  -ms-grid-columns: 25rem 2fr;
      grid-template-columns: 25rem 2fr;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  -webkit-box-shadow: 0 0 10px 0px var(--pb);
          box-shadow: 0 0 10px 0px var(--pb);
}

@media (max-width: 480px) {
  nav {
    width: 100vw;
    height: auto;
    padding: 2rem;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  nav {
    width: 100vw;
    height: auto;
    padding: 2rem;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
    justify-items: center;
  }
  nav .navTopMobile {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  nav {
    -ms-grid-columns: 16rem 2fr;
        grid-template-columns: 16rem 2fr;
    width: 100vw;
  }
  nav .navTopMobile {
    display: none;
  }
}

@media (min-width: 1025px) {
  nav .navTopMobile {
    display: none;
  }
}

nav .logoTop {
  width: 22rem;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  justify-self: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 480px) {
  nav .logoTop {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    width: 18rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  nav .logoTop .logoVertical {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  nav .logoTop {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    width: 18rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  nav .logoTop .logoVertical {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  nav .logoTop {
    width: 11rem;
  }
  nav .logoTop .logoHorizontal {
    display: none;
  }
}

@media (min-width: 1025px) {
  nav .logoTop .logoVertical {
    display: none;
  }
}

nav .navTop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto (auto)[4];
      grid-template-columns: auto repeat(4, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media (max-width: 480px) {
  nav .navTop {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto (auto)[4];
        grid-template-rows: auto repeat(4, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  nav .navTop .button1 {
    border: 0;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  nav .navTop .button1 {
    border: 0;
  }
}

nav .navTop .faIcon {
  width: 1.1rem;
  margin-right: 5px;
}

nav .navTopMobile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

nav .navTopMobile .faIcon {
  width: 3rem;
  height: 3rem;
}

nav .navTopMobile .button1 {
  border: none;
}

nav .navBottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: var(--sb) solid 2px;
}

@media (max-width: 480px) {
  nav .navBottom {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  nav .navBottom {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
  nav .navBottom span {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: -4;
    grid-area: 1 / 5 / 1 / 1;
  }
}

nav .navBottom span {
  margin: 2rem;
}

@media (min-width: 481px) {
  nav .navBottomMobile {
    display: none;
  }
}

@media (max-width: 480px) {
  nav .navBottomMobile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav .navBottomMobile span {
  margin: 1rem;
}
/*# sourceMappingURL=Navbar.css.map */