nav {
   border-color: var(--wt);
   display: grid;
   width: 100vw;
   margin-bottom: 2.5rem;
   margin-right: 5rem;
   grid-template-rows: 5rem 10rem;
   grid-template-columns: 40rem 2fr;
   
   .logoTop {
      width: 22rem;
      grid-row-start: 1;
      grid-row-end: 3;
      justify-self: center;
      align-self: center;
   }
   
   .navTop {
      display: grid;
      grid-template-columns: auto repeat(5, auto);
      align-items: center;
      justify-content: right;

      .faIcon {
         width: 1.1rem;
         margin-right: 5px;
      }
   
      .button1 {
         text-align: center;
         color: var(--pb);
         padding: 1rem 2rem;
         border-left: var(--sb) solid 2px;
      }
      
   }
   
   .navBottom {
      display: grid;
      grid-template-rows: 1fr 2fr;
      align-items: center;
      justify-content: center;
      border-top: var(--sb) solid 2px;
      
      .button1 {
         text-align: center;
         color: var(--pb);
         padding: 1rem 5rem;
      }

      .button2 {
         background-color: var(--sb);
         color: var(--wt);
         margin: 1rem;
         padding: 1rem 2rem;
         border-radius: 10px;

      }
      
      .buttonRight {
         margin-right: 5rem;
      }
   }
}